<md-dialog aria-label="Use the panel below to update {{goodsReceiptLine.product.name}} {{goodsReceiptLine.product.upc}} attributes" flex>
  <md-content>
    <md-subheader class="md-sticky-no-effect md-primary">Use the panel below to update
      {{goodsReceiptLine.product.name}}
      {{goodsReceiptLine.product.upc}}
      attributes</md-subheader>
    <md-content class="md-padding col-md-12">
      <md-content>
        <product-attribute-form></product-attribute-form>
      </md-content>
    </md-content>
  </md-content>
</md-dialog>