<md-dialog aria-label="Edit User Role" flex>
  <md-content>
    <md-subheader class="md-sticky-no-effect md-primary">Would you like to delete <strong>{{bill.billingMonth.month | date:'MMM, yyyy'}}</strong> bill?</md-subheader>
    <div layout="column" flex>
      <md-content class="md-padding">
        <form name="myForm.object">
          <h2>Kindly note this process is not reversible</h2>

          <div ng-show="showErrorInfo" ng-class="errorClass" role="alert">{{errorMsg}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="md-actions" layout="row">
            <span flex></span>
            <md-button ng-click="cancel();">
              Close
            </md-button>
            <md-button class="md-primary md-raised" ng-click="update(form);">
              Delete Bill
            </md-button>
          </div>
        </form>
      </md-content>
    </div>
  </md-content>
</md-dialog>
