<md-dialog aria-label="brown" flex>
  <md-content>
    <md-subheader class="md-sticky-no-effect md-primary">Use this panel to add receipt to account#
      <strong>{{data.accNo}}</strong>
    </md-subheader>
    <div >
      <md-content class="md-padding">
        <form name="myForm.object">
  <span class="md-headline pull-left">Billing Month:
              <strong>{{activeBillingMonth.month | date:'MMM, yyyy'}}</strong>
            </span>
            <span class="md-display-1 pull-right">Balance:
              <span class="money-color">KES
                {{data.outstandingBalance | number}}</span>
            </span>



          <div class="clearfix"></div>

          <md-input-container>
            <md-select name="paymentType" ng-model="form.paymentType" placeholder="Please select receipt type" required>
              <md-option ng-repeat="paymentType in paymentTypes" value="{{$index}}">
                {{paymentType.name}}
              </md-option>
            </md-select>
            <div ng-messages="myForm.object.paymentType.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>

          <div flex layout-align="space-between center" layout="row">
            <div flex="40">
              <md-input-container>
                <label>Receipt#</label>
                <input md-maxlength="50" name="receiptNo" ng-model="form.receiptNo" required>
                <div ng-messages="myForm.object.receiptNo.$error">
                  <div ng-message="required">This is required.</div>
                  <div ng-message="md-maxlength">The name has to be less than 50 characters long.</div>
                </div>
              </md-input-container>
              <md-input-container>
                <label>Amount</label>
                <input maxlength="6" name="amountPaid" ng-model="form.amount" required type="number">
                <div ng-messages="myForm.object.amountPaid.$error">
                  <div ng-message="required">This is required.</div>
                  <div ng-message="maxlength">The name has to be less than 6 characters long.</div>
                </div>
              </md-input-container>
            </div>
            <div flex="40">
              <md-input-container>
                <label>Transaction Date</label>
                <input name="transactionDate" ng-model="form.transactionDate" required type="date">
                <div ng-messages="myForm.object.transactionDate.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
              <md-input-container>
                <label>Notes</label>
                <textarea name="notes" ng-model="form.notes"></textarea>
              </md-input-container>

            </div>
          </div>

          <div ng-class="errorClass" ng-show="showErrorInfo" role="alert">{{errorMsg}}</div>
          <div layout="row">
            <span flex></span>
            <md-button ng-click="cancel();">
              Close
            </md-button>
            <md-button class="md-raised md-primary" ng-click="save(form);">
              Save
            </md-button>
          </div>
        </form>
      </md-content>
    </div>
  </md-content>
</md-dialog>