<md-dialog aria-label="Edit Meter" flex>
  <md-content>
    <md-subheader class="md-sticky-no-effect md-primary">Use this panel to post/void
      <strong>{{file.name}}</strong>
    </md-subheader>
    <div flex layout="column">
      <md-content class="md-padding">
        <form name="myForm.object">
          <div class="pull-left">
            <p>
              Lines:
              <strong>{{file.lineCount | number}}</strong>
            </p>
            <p>
              Amount:
              <strong>{{file.amount | number}}</strong>
            </p>
          </div>
          <div class="pull-right">
            <p>
              Valid:
              <strong>
                <span ng-switch="file.isValid">
                  <span ng-switch-when="true">Yes</span>
                  <span ng-switch-when="false">No</span>
                </span>
              </strong>
            </p>
            <p>
              Status:
              <strong>
                <span ng-switch="file.status">
                  <span ng-switch-when="0">Draft</span>
                  <span ng-switch-when="1">Posted</span>
                  <span ng-switch-when="2">Voided</span>
                </span>
              </strong>
            </p>
          </div>
          <div class="clearfix"></div>

          <md-input-container>
            <label>Action</label>
            <md-select ng-model="form.action">
              <md-option value="1">
                Post
              </md-option>
              <md-option value="2">
                Void
              </md-option>
            </md-select>
          </md-input-container>

          <div>
            <div class="alert alert-danger" ng-show="errorOccured" role="alert">
              {{errorMsg}}
            </div>

          </div>

          <div ng-class="errorClass" ng-show="showErrorInfo" role="alert">{{errorMsg}}

            <button aria-label="Close" class="close" data-dismiss="alert" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div layout="row">
            <span flex></span>
            <md-button ng-click="cancel();">
              Close
            </md-button>
            <md-button class="md-primary" ng-click="post(form);">
              Submit
            </md-button>
          </div>
        </form>
      </md-content>
    </div>
  </md-content>
</md-dialog>