<md-dialog aria-label="Edit Meter" flex>
  <md-content>
    <md-subheader class="md-sticky-no-effect md-primary">Use this panel to allocate transaction <strong>{{transaction.seqNo}}</strong> to a account</md-subheader>
    <div layout="column" flex>
      <md-content class="md-padding">
        <form name="myForm.object">
          <div class="pull-left">
            <p>
              PostBank Code: <strong>{{transaction.seqNo}}</strong>
            </p>
            <p>
              Amount: <strong>{{transaction.paidAmount}}</strong>
            </p>
          </div>
          <div class="pull-right">
            <p>
              Sender: <strong>{{transaction.payeeNames}}</strong>
            </p>
            <p>
              Created: <strong>{{transaction.createdOn | date}}</strong>
            </p>
          </div>
          <div class="clearfix"></div>


          <md-input-container>
            <label>Connection Number</label>
            <input ng-change="searchConnection();" maxlength="9"  type="text"  required name="initialReading" ng-model="form.accountNo">
            <div ng-messages="myForm.object.initialReading.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message=" maxlength">The connection number has to be less than 9 characters long.</div>
            </div>
          </md-input-container>

          <md-input-container>
            <label>Notes</label>
                  <textarea required name="notes" ng-model="form.notes">
                  </textarea rows="4" cols="50">
            <div ng-messages="myForm.object.notes.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>


          <div>
            <div ng-show="errorOccured" class="alert alert-danger" role="alert">
              {{errorMsg}}
            </div>

            <md-card ng-show="accountFound">
              <md-card-content>
                Account No: <strong>{{account.accNo}}</strong>
                Tariff: <strong>{{account.tariff.name}}</strong>
              </md-card-content>
            </md-card>
          </div>

          <div ng-show="showErrorInfo" ng-class="errorClass" role="alert">{{errorMsg}}

            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div  layout="row">
            <span flex></span>
            <md-button ng-click="cancel();">
              Close
            </md-button>
            <md-button ng-disabled="!accountFound" class="md-primary" ng-click="allocate(form);">
              Allocate
            </md-button>
          </div>
        </form>
      </md-content>
    </div>
  </md-content>
</md-dialog>
