<md-dialog aria-label="Edit User Role" flex>
  <md-content>
    <md-subheader class="md-sticky-no-effect md-primary">Use this panel to edit zone</md-subheader>
    <div flex layout="column">
      <md-content class="md-padding">
        <form name="myForm.object">
          <md-input-container>
            <label>Name</label>
            <input md-maxlength="30" name="roleName" ng-model="form.name" required>
            <div ng-messages="myForm.object.roleName.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
            </div>
          </md-input-container>
          <md-input-container>
            <label>Description</label>
            <textarea name="roleDescription" ng-model="form.description" required></textarea rows="4" cols="50">
            <div ng-messages="myForm.object.roleDescription.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <div ng-class="errorClass" ng-show="showErrorInfo" role="alert">{{errorMsg}}

            <button aria-label="Close" class="close" data-dismiss="alert" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="md-actions" layout="row">
            <span flex></span>
            <md-button ng-click="cancel();">
              Close
            </md-button>
            <md-button class="md-primary" ng-click="update(form);">
              Update
            </md-button>
          </div>
        </form>
      </md-content>
    </div>
  </md-content>
</md-dialog>