<md-card flex layout="row">
   <md-card-content  class="md-default-theme" style="background:#009688;padding:20px;color:#ffffff;" flex="20">
      <img src="">
      <h2 style="font-weight:200;">Maitha Manyala</h2>
      <h3 style="font-weight:200;">Software Engineer</h3>
      <p>An accomplished software engineer with strong analytical and execution skills.</p>
      <p>
         <span aria-hidden="true" class="icon-screen-smartphone"> +254 763 172 051</span>
      </p>
      <p>
         <span aria-hidden="true" class="icon-envelope"> maitha.manyala@gmail.com</span>
      </p>
      <p>
         <span aria-hidden="true" class="icon-social-twitter"> @maithamanyala</span>
      </p>
      <md-subheader class="md-primary">Professional Skills</md-subheader>
      <div layout>
         <div flex="30" layout layout-align="center center">
            <span>Agile</span>
         </div>
         <md-slider flex md-discrete ng-model="90"  min="0" max="100" aria-label="rating">
         </md-slider>
      </div>
      <div layout>
         <div flex="30" layout layout-align="center center">
            <span>Android</span>
         </div>
         <md-slider flex md-discrete ng-model="95"  min="0" max="100" aria-label="rating">
         </md-slider>
      </div>
      <div layout>
         <div flex="30" layout layout-align="center center">
            <span>AngularJS</span>
         </div>
         <md-slider flex md-discrete ng-model="95"  min="0" max="100" aria-label="rating">
         </md-slider>
      </div>
      <div layout>
         <div flex="30" layout layout-align="center center">
            <span>Java</span>
         </div>
         <md-slider flex md-discrete ng-model="95"  min="0" max="100" aria-label="rating">
         </md-slider>
      </div>
      <div layout>
         <div flex="30" layout layout-align="center center">
            <span>Spring</span>
         </div>
         <md-slider flex md-discrete ng-model="95"  min="0" max="100" aria-label="rating">
         </md-slider>
      </div>
      <div layout>
         <div flex="30" layout layout-align="center center">
            <span>NodeJS</span>
         </div>
         <md-slider flex md-discrete ng-model="70"  min="0" max="100" aria-label="rating">
         </md-slider>
      </div>
      <md-subheader class="md-primary">Language Skills</md-subheader>
      <div layout>
         <div flex="30" layout layout-align="center center">
            <span>English</span>
         </div>
         <md-slider flex md-discrete ng-model="100"  min="0" max="100" aria-label="rating">
         </md-slider>
      </div>
      <div layout>
         <div flex="30" layout layout-align="center center">
            <span>Swahili</span>
         </div>
         <md-slider flex md-discrete ng-model="100"  min="0" max="100" aria-label="rating">
         </md-slider>
      </div>
   </md-card-content>
   <md-card-content flex="80">
      <md-content >
         <md-subheader class="md-primary">Experience</md-subheader>
         <md-card>
            <md-card-content>
               <h5>Lead Developer </h5>
               Equity Bank Kenya Ltd <span class="label label-warning">July 2012 – Present</span>
               <p>
                  Lead in the design and development of scalable systems and integrations for the bank. 
                  Ensure that departmental standards and principles are communicated throughout the developers and actively enforced. 
               <p>
                  <span class="label label-info">Google Inc. – Beba Integration</span>
                  <span class="label label-info">SOA Implementaion(Oracle)</span> 
                  <span class="label label-info">Equitel Bulk SMS portal (AngularJS/Spring)</span>
                  <span class="label label-info">Agency account opening (Android)</span>
                  <span class="label label-info">KRA Revenue Collection integrations (Java Spring)</span>
                  <span class="label label-info">Core Banking Finacle 10 Upgrade – Integrations</span>
                  <span class="label label-info">Agency Credit Automation (Android)</span>
                  <span class="label label-info">Git</span>
                  <span class="label label-info">Team city</span>
                  <span class="label label-info">Jira</span>
                  <span class="label label-info">Scrum master</span>
               </p>
               </p>
            </md-card-content>
         </md-card>
         <md-card>
            <md-card-content>
               <h5>Kenya Health Management Information System Coordinator
                  (USAID - funded project)
               </h5>
               Abt Associates Inc - Kenya <span class="label label-warning">Sep 2011 – June 2012</span>
               <p> 
                  Coordinated the development and implementation of an integrated, web-based, country owned and managed National Health Information System that generates quality data used at all levels to improve health service delivery in Kenya.
                  Coordinating the integration/migration of various routine data systems and subsystems, (most of which are currently managed by host departments in the ministries of health) into the Kenya National Health Information System.
               </p>
            </md-card-content>
         </md-card>
         <md-card>
            <md-card-content>
               <h5>Application Developer </h5>
               Equity Bank Kenya Ltd <span class="label label-warning">Sep 2010 – August 2011</span>
               <p>
                  Responsible for the design and development of various bank applications.
               <p>
                  <span class="label label-info">Equity Bank –  MoneyGram Money Transfer Integration</span>
                  <span class="label label-info">Equity Bank –Contact centre Agent Application - Avaya</span> 
               </p>
               </p>
            </md-card-content>
         </md-card>

         <md-card>
            <md-card-content>
               <h5>Software Developer </h5>
               Zinga Technologies LTD<span class="label label-warning">Jan 2009 - Aug 2010</span>
               <p>
                  Responsible for the design and development of various bank applications.
               <p>
                  <span class="label label-info">Equity Bank –  M-KESHO Account Opening Application</span>
                  <span class="label label-info">• Meru Farmers Sacco – POS Terminal financial Interface</span> 
                    <span class="label label-info">Osho Chemicals – Point of Sale Application</span> 
                    <span class="label label-info">Railways Training Institute   - Student Smart Card Application</span> 
                    <span class="label label-info">Uchumi Loyalty System (Uclub) – Kenya/Uganda/Tanzania</span> 

                      <span class="label label-info">South Imenti Sacco Card System (Biometric)</span> 
                      <span class="label label-info">Osho Chemicals LTD -  Mavuno Club </span> 
                      <span class="label label-info">TN Bank Card System(Zimbabwe)  </span>
                      
               </p>
               </p>
            </md-card-content>
         </md-card>


         <p>
         </p>
      </md-content>
   </md-card-content>
</md-card>