
    <md-card>
      <md-card-content>
        <md-content>
          <h1 style="font-weight: 200;">
            {{account.accName | uppercase}}
            <span class="pull-right money-color">KES {{account.outstandingBalance | number}}</span>

          </h1>

          <p>
            <md-divider></md-divider>
          </p>
          <div flex layout="row">
            <div flex="50">
              <p>
                Account#:
                <strong>{{account.accNo}}</strong>
              </p>

              <p>
                Location:
                <strong>{{account.location.name}}</strong>
              </p>

              <p>
                Zone:
                <strong>{{account.zone.name}}</strong>
              </p>

              <p>
                Tariff:
                <strong>{{account.tariff.name}}</strong>
              </p>

            </div>
            <div flex="50">
            <span class="pull-right">

              <p>
                Balance Brought Forward:
                <strong>
                  {{account.balanceBroughtForward | number}}
                </strong>
              </p>

              <p>
                Average Consumption:
                <strong>
                  {{account.averageConsumption}}
                </strong>
              </p>

              <p>
                Meter:
                <strong>{{account.meter.meterNo}} </strong>
              </p>
            <p>
              Active:
              <strong>{{account.active}} </strong>
            </p>
            </span>

            </div>


          </div>
          <md-button ng-show="$root.account_statement" class="md-primary"  ui-sref="statement({ accountId: account.accountId})">View Statement</md-button>
          <!--<md-button class="md-primary pull-right">-->
            <!--<span class="icon-layers action-button" aria-hidden="true"></span>-->
          <!--</md-button>-->

          <md-button ng-show="$root.payments_create" class="md-primary pull-right" ng-click="addPaymentDialog();">
            <!--<span class="icon-plus action-button" aria-hidden="true"></span>-->
            Add Payment
          </md-button>

          <div class="clearfix"></div>
          <div ng-show="errorOccured" class="alert alert-danger" role="alert">
            {{errorMsg}}
          </div>

          <md-tabs md-border-bottom md-selected="data.selectedIndex">
            <md-divider></md-divider>
            <md-tab id="tab1">
              <md-tab-label>Bills</md-tab-label>
              <md-tab-template>
                  <p>
                <table class="table table-hover">
                  <thead>
                  <tr>

                    <th>BILL DATE</th>
                    <th>CREATED</th>
                    <th>CONSUMPTION</th>
                    <th><span class="pull-right">CURRENT</span></th>
                    <th><span class="pull-right">PREVIOUS</span></th>

                    <th><span class="pull-right">UNITS</span></th>

                    <th>
                      <span class="pull-right">
                        BILL AMOUNT
                      </span>
                    </th>
                    <th><span class="pull-right">METER RENT</span></th>
                    <th>
                      <span class="pull-right">
                        CHARGES
                      </span>
                    </th>

                    <th>
                      <span class="pull-right">
                        TOTAL
                      </span>

                    </th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr  dir-paginate="bill in bills | itemsPerPage: 10" total-items="totalBills" pagination-id="billsPagination">
                    <td>{{bill.billingMonth.month | date}}</td>
                    <td>{{bill.createdOn | date}}</td>
                    <td>{{bill.consumptionType}}</td>
                    <td align="right">{{bill.currentReading | number}}</td>
                    <td align="right">{{bill.previousReading | number}}</td>

                    <td align="right">{{bill.unitsBilled | number}}</td>


                    <td align="right">
                      <span class="money-color">
                        {{bill.amount | number}}
                      </span>
                    </td>
                    <td align="right">
                      <span class="money-color">
                      {{bill.meterRent | number}}
                        </span>
                    </td>
                    <td>
                    <span ng-repeat="billItem in bill.billItems">
                       <span class="pull-right">
                         {{billItem.billItemType.name}}:
                         {{billItem.amount | number}}
                       </span>
                      <br/>
                    </span>
                    </td>

                    <td align="right">
                      <span class="money-color">
                        {{bill.totalBilled | number}}
                      </span>
                    </td>


                    <td align="right">
                      <md-button class="md-primary" ng-click="editOptionDialog($index)">Edit</md-button>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="11" align="center">
                      <dir-pagination-controls on-page-change="getBills(newPageNumber)" pagination-id="billsPagination"></dir-pagination-controls>
                    </td>
                  </tr>
                  </tbody>
                </table>
                </p>
              </md-tab-template>
            </md-tab>

            <md-tab id="tab2">
              <md-tab-label>Payments</md-tab-label>
              <md-tab-template>
                <p>
                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th>CREATED</th>
                    <th>BILL DATE</th>
                    <th>SOURCE</th>
                    <th>TYPE</th>
                    <th>RECEIPT#</th>
                    <th>COMMENTS</th>
                    <th>
                      <span class="pull-right">
                        AMOUNT
                      </span>

                    </th>
                    <!--<th></th>-->
                  </tr>
                  </thead>
                  <tbody>
                  <tr dir-paginate="payment in payments | itemsPerPage: 10" total-items="totalPayments" pagination-id="paymentsPagination">
                    <td>{{payment.createdOn | date}}</td>
                    <td>{{payment.billingMonth.month | date}}</td>
                    <td>{{payment.paymentSource.name | uppercase}}</td>
                    <td>{{payment.paymentType.name | uppercase}}</td>
                    <td>{{payment.receiptNo}}</td>
                    <td>{{payment.notes}}</td>
                    <td align="right">
                      <span class="money-color">
                        {{payment.amount | number}}
                      </span>
                    </td>
                    <!--<td align="right">-->
                      <!--<md-button class="md-primary" ng-click="editOptionDialog($index)">Edit</md-button>-->
                    <!--</td>-->
                  </tr>
                  <tr>
                    <td colspan="8" align="center">
                      <dir-pagination-controls on-page-change="getPayments(newPageNumber)" pagination-id="paymentsPagination"></dir-pagination-controls>
                    </td>
                  </tr>
                  </tbody>
                </table>
                </p>
              </md-tab-template>
            </md-tab>
          </md-tabs>



        </md-content>

      </md-card-content>

    </md-card>


