<md-card>
	<md-card-content>
		<md-content>
			<md-subheader class="md-primary">Use this panel to manage approval tasks</md-subheader>
			<md-content>
				<div class="clearfix"></div>
				<div ng-show="errorOccured" class="alert alert-danger" role="alert">
					{{errorMsg}}
				</div>
				<md-input-container flex class="md-default-theme">
					<label for="input_041">Search</label>
					<input ng-init="contactsGroupFilter = {}" ng-model="searchFilter.text" ng-change="seach()" class="ng-pristine ng-valid md-input ng-touched"
						tabindex="0" id="input_041" aria-invalid="false">
				</md-input-container>
				<!--<table class="table table-hover">-->
				<!--<thead>-->
				<!--<tr>-->
				<!--<th></th>-->
				<!--<th>Created</th>
							<th>Requested By</th>
							<th>Request</th>
							<th>Account#</th>
							<th>Name</th>
							<th>Notes</th>
							<th>Amount</th>
							<th>Role</th>
							<th>Status</th>
							<th></th>-->
				<!--</tr>-->
				<!--</thead>-->
				<!--<tbody>-->

				<div dir-paginate="task in tasks | itemsPerPage: 10" total-items="totalRecords" pagination-id="pagePagination">


					<md-card>
						<md-card-content>
							<div class="col-md-4">
								<md-input-container>
									<label>Request#</label>
									<input value="{{task.sno}}" ng-disabled="true">
								</md-input-container>
								<md-input-container>
									<label>Request Type</label>
									<input value="{{task.taskType.name}}" ng-disabled="true">
								</md-input-container>
								<md-input-container>
									<label>Account#</label>
									<input ng-model="task.account.accNo" ng-disabled="true">
								</md-input-container>
								<md-input-container>
									<label>Name</label>
									<input ng-model="task.account.accName" ng-disabled="true">
								</md-input-container>
								<md-input-container>
									<label>Amount</label>
									<input ng-model="task.amount" ng-disabled="true">
								</md-input-container>


								<md-input-container>
									<label>Notes</label>
									<textarea name="notes" ng-model="task.notes"></textarea rows="4" cols="50" ng-disabled="true">
          						</md-input-container>
							</div>

							<div class="col-md-4 col-sm-12 pull-right">

								<div ng-switch="task.approvalStep">
									<span ng-switch-when="1" style="color:#ffffff;background:#2196F3;padding:8px">Start</span>
									<span ng-switch-when="2" style="color:#ffffff;background:#2196F3;padding:8px">On Progress</span>
									<span ng-switch-when="3" style="color:#ffffff;background:#2196F3;padding:8px">End</span>
									<span ng-switch-when="4" style="color:#ffffff;background:#ff0000;padding:8px">Rejected</span>
									<span ng-switch-when="5" style="color:#ffffff;background:#5cb85c;padding:8px">Completed</span>
								</div>
								
								<br>
								<md-input-container>
									<label>Requested By</label>
									<input ng-model="task.user.emailAddress" ng-disabled="true">
								</md-input-container>

								<md-input-container>
									<label>Role</label>
									<input ng-model="task.approval.userRole.name" ng-disabled="true">
								</md-input-container>
								
								<md-input-container>
									<label>Step</label>
									<input ng-model="task.approval.name" ng-disabled="true">
								</md-input-container>

								<br>
		  						<span ng-show="task.edit" class="alert alert-info">Needs your attention</span>
								<md-button class="md-primary" ui-sref="approval-task({ taskId: task.taskId})">View</md-button>
							</div>
						</md-card-content>
					</md-card>


<!--</td>-->
<!--
							<td>{{task.sno}}</td>														
							<td>
								<span am-time-ago="task.createdOn"> </span>
							</td>
							<td>{{task.user.firstName}} {{task.user.lastName}}</td>							
							<td>{{task.taskType.name}}</td>
							<td>{{task.account.accNo }}</td>
							<td>{{task.account.accName }}</td>
							<td>{{task.notes}}</td>
							<td>{{task.amount | number}}</td>
							<td>{{task.approval.userRole.name}}</td>
							<td>
								{{task.approval.name}} &nbsp;
								<span ng-switch="task.approvalStep">
                            <span ng-switch-when="1" style="color:#ffffff;background:#FF5722;padding:8px">Start</span>
								<span ng-switch-when="2" style="color:#ffffff;background:#5cb85c;padding:8px">On Progress</span>
								<span ng-switch-when="3" style="color:#ffffff;background:#ff0000;padding:8px">End</span>
								</span>
							</td>
							<td align="right">
								<span ng-show="task.edit" class="alert alert-info">Needs your attention</span>
								<md-button class="md-primary" ui-sref="approval-task({ taskId: task.taskId})">View</md-button>
							</td>-->

						</div>
						<table>
							<tbody>
						</tr>
						<tr>
							<td colspan="11" align="center">
								<dir-pagination-controls on-page-change="pageChanged(newPageNumber)" pagination-id="pagePagination"></dir-pagination-controls>
							</td>
						</tr>
					</tbody>
				</table>
			</md-content>
		</md-content>
	</md-card-content>
</md-card>