<md-card>
<md-card-content>
<md-content>
   <md-subheader class="md-primary">Use this panel to manage billing dates</md-subheader>
   <md-content>
      <div class="clearfix"></div>
      <div ng-show="errorOccured" class="alert alert-danger" role="alert">
         {{errorMsg}}
      </div>
      <table class="table table-hover">
         <thead>
            <tr>
               <th>Billing Date</th>
               <th>Status</th>
                <th>Created On</th>
               <th></th>
            </tr>
         </thead>
         <tbody>
            <tr dir-paginate="month in months | itemsPerPage: 10" total-items="totalMonths" pagination-id="monthPagination">
               <td>{{ month.month | date}}</td>
               <td>{{month.open}}</td>
               <td>
                  <span am-time-ago="month.createdOn"> </span>
               </td>
               <td align="right">
                  <md-button ng-show="$root.billing_month_update" class="md-primary" ng-click="editBillingMonthDialog($index)">Edit</md-button>
               </td>
            </tr>
            <tr>
               <td colspan="4" align="center">
                  <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" pagination-id="monthPagination"></dir-pagination-controls>
               </td>
            </tr>
         </tbody>
      </table>
   </md-content>
</md-content>
</md-card-content>
</md-card>
