<md-card>
  <md-card-content>
    <md-content>
      <md-subheader class="md-primary">Use this panel to manage billing dates</md-subheader>
      <md-content>
        <div class="clearfix"></div>
        <div class="alert alert-danger" ng-show="errorOccured" role="alert">
          {{errorMsg}}
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Billing Month</th>
              <th>Status</th>
              <th>Created On</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr dir-paginate="month in months | itemsPerPage: 10" pagination-id="monthPagination" total-items="totalMonths">
              <td>{{ month.month | date:'MMM, yyyy'}}</td>
              <td>{{month.open}}</td>
              <td>
                <span am-time-ago="month.createdOn"></span>
              </td>
              <td align="right">
                <md-button class="md-primary" ng-click="editBillingMonthDialog($index)" ng-show="$root.billing_month_update">Edit</md-button>
              </td>
            </tr>
            <tr>
              <td align="center" colspan="4">
                <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" pagination-id="monthPagination"></dir-pagination-controls>
              </td>
            </tr>
          </tbody>
        </table>
      </md-content>
    </md-content>
  </md-card-content>
</md-card>