<md-content flex layout="column">
  <md-card ng-show="!$root.dashboard_view">
    <md-card-content>
      <h1>Welcome aboard</h1>
    </md-card-content>
  </md-card>

  <md-card ng-show="$root.dashboard_view">
    <md-card-content>
      <!--<md-subheader class="md-primary">Dashboard</md-subheader>-->

      <md-content flex layout-align="space-between center" layout-md="column" layout-gt-sm="column" layout-gt-md="row" layout-sm="column" layout-lg="row">


        <md-content ng-show="$root.stats_consumer_count" class="total-records" layout="column" layout-align="space-between center">

          <md-content flex>{{stats.topView.consumers | number}}</md-content>
          <md-subheader class="stats-caption" flex>Consumers</md-subheader>
        </md-content>

        <md-content ng-show="$root.stats_accounts_count" class="total-records" style="color: #9C27B0" layout="column" layout-align="space-between center">
          <md-content flex>{{stats.topView.accounts | number}}</md-content>
          <md-subheader class="stats-caption" flex>Accounts</md-subheader>
        </md-content>

        <md-content ng-show="$root.stats_accounts_active_count" class="total-records" style="color:#3F51B5;" layout="column" layout-align="space-between center">
          <md-content flex>{{stats.topView.active | number}}</md-content>
          <md-subheader class="stats-caption" flex>Active</md-subheader>
        </md-content>

        <md-content ng-show="$root.stats_accounts_inactive_count" class="total-records" style="color: #FF5252" layout="column" layout-align="space-between center">
          <md-content flex>{{stats.topView.inactive | number}}</md-content>
          <md-subheader class="stats-caption" flex>In Active</md-subheader>
        </md-content>

        <md-content ng-show="$root.stats_billed_this_month" class="total-records" style="color: #4CAF50" layout="column" layout-align="space-between center">
          <md-content flex>{{stats.topView.paidLastMonth | number}}</md-content>
          <md-subheader  flex class="stats-caption">Billed this Month</md-subheader>
        </md-content>

        <md-content ng-show="$root.stats_paid_this_month" class="total-records" style="color: #009688" layout="column" layout-align="space-between center">
          <md-content flex>{{stats.topView.paidThisMonth | number}}</md-content>
          <md-subheader  class="stats-caption" flex>Paid This Month</md-subheader>
        </md-content>

        <md-content ng-show="$root.stats_paid_today" class="total-records" style="color: #009688" layout="column" layout-align="space-between center">
          <md-content flex>{{stats.topView.paidToday | number}}</md-content>
          <md-subheader  class="stats-caption" flex>Paid Today</md-subheader>
        </md-content>

        <md-content ng-show="$root.stats_payments_not_allocated" class="total-records" style="color: #009688" layout="column" layout-align="space-between center">
          <md-content flex>{{stats.topView.notAllocated | number}}</md-content>
          <md-subheader class="stats-caption" flex>Not Allocated</md-subheader>
        </md-content>

        <md-content ng-show="$root.stats_sms_balance" class="total-records" style="color: #009688" layout="column" layout-align="space-between center">
          <md-content flex>{{stats.topView.smsBalance | number}}</md-content>
          <md-subheader class="stats-caption" flex>SMS Balance</md-subheader>
        </md-content>

      </md-content>

      <hr/>

      <md-content ng-show="$root.stats_bills_payments_linegraph" flex layout="row" layout-align="space-between center">
        <!--Payments/Bills Chart-->
        <md-content flex>
          <highchart config="paymentsBillsChart"></highchart>
        </md-content>

        <!--Payments/Bills Pie-->
        <!--<md-content flex="25">-->
        <!--<highchart config="paymentsBillsPie"></highchart>-->
        <!--</md-content>-->

      </md-content>

      <md-content ng-show="$root.stats_zones_account_balances" flex layout="row" layout-align="space-between center">
        <md-content flex>
          <highchart config="zonesBarBalancesChart"></highchart>
        </md-content>
      </md-content>

      <md-content ng-show="$root.stats_zones_bargraph" flex layout="row" layout-align="space-between center">
        <md-content flex>
          <highchart config="zonesBarChart"></highchart>
        </md-content>
      </md-content>




      <md-divider></md-divider>
      <br/>
      <md-content flex layout="row" layout-align="space-between center">
        <!--Consumers/Accounts-->
        <!--<md-content flex="25">-->
          <!--<highchart config="paymentsBillsPie"></highchart>-->
        <!--</md-content>-->

        <!--Active/Inactive-->
        <!--<md-content flex="25">-->
          <!--<highchart config="paymentsBillsPie"></highchart>-->
        <!--</md-content>-->

        <!--Payments today/yesterday-->
        <!--<md-content flex="25">-->
          <!--<highchart config="paymentsBillsPie"></highchart>-->
        <!--</md-content>-->


      </md-content>
    </md-card-content>
  </md-card>
</md-content>
