<div>
	<div class="login-container">
		<div>
			<div>
				<md-card flex layout="column">
					<md-toolbar flex>
						<div class="md-toolbar-tools">
							<span flex>
                 <span class="pull-left">
                    <img class="md-primary" src="images/logo.png"/>
                 </span>
							</span>
						</div>
					</md-toolbar>
					<md-card-content flex>
						<md-content>
							<md-content class="md-padding md-accent">
								<form name="myForm.object">
									<md-input-container class="md-block" required>
										<label>Email Address</label>
										<input type="email" required name="emailAddress" ng-model="myForm.username" />
										<div ng-messages="myForm._email.$error">
											<div ng-message="required">This is required.</div>
										</div>
									</md-input-container>
									<md-input-container class="md-block" required>
										<label>Password</label>
										<input type="password" required name="_password" ng-model="myForm.password" />
										<div ng-messages="myForm._password.$error">
											<div ng-message="required">This is required.</div>
										</div>
									</md-input-container>
									<div ng-show="myForm.showErrorInfo" ng-class="myForm.errorClass" role="alert">{{myForm.errorInfo}}</div>
									<div flex>
										<md-button class="md-primary pull-right" ng-click="submit(myForm)">
											Login
										</md-button>
									</div>
								</form>
								<div class="clearfix" style="padding-top:10px;"></div>
								<div class="pull-right">
								</div>
							</md-content>
						</md-content>
					</md-card-content>
				</md-card>
			</div>
			<span class="clearfix"></span>
		</div>
	</div>
</div>