<md-card>
  <md-card-content>
    <md-content>
      <md-subheader class="md-primary">
        Use this panel to manage connection meters
        <!--<span class="pull-right" style="color:#E0E0E0;font-size: 22px;font-weight: 200;">{{totalMeters | number}} Meters</span>-->

      </md-subheader>
      <md-content>

        <md-button class="md-primary pull-right" ng-click="addMeterDialog();" ng-show="$root.meter_create">
          <span aria-hidden="true" class="icon-plus action-button"></span>
        </md-button>
        <div class="clearfix"></div>
        <div class="alert alert-danger" ng-show="errorOccured" role="alert">
          {{errorMsg}}
        </div>
        <md-input-container class="md-default-theme" flex>
          <label for="input_041">Search</label>
          <input aria-invalid="false" class="ng-pristine ng-valid md-input ng-touched" id="input_041" ng-change="seach()" ng-init="contactsGroupFilter = {}" ng-model="searchFilter.text" tabindex="0">
        </md-input-container>

        <table class="table table-hover">
          <thead>
            <tr>
              <th>Meter No</th>

              <th>Account#</th>
              <th>Initial Reading</th>
              <th>Owner</th>

              <th>Size</th>
              <th>
                <span class="pull-right">Rent Amount</span>
              </th>
              <th>Charge</th>
              <th>Created</th>
              <th>
                <span class="pull-right">{{totalMeters | number}}
                  Records</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr dir-paginate="meter in meters | itemsPerPage: 10" pagination-id="pagePagination" total-items="totalMeters">
              <td>{{ meter.meterNo | uppercase}}</td>
              <td>{{meter.accountId}}</td>
              <td>{{meter.initialReading | number}}</td>
              <td>{{meter.meterOwner.name}}</td>
              <td>{{meter.meterSize.size | uppercase}}</td>
              <td align="right">{{meter.meterSize.rentAmount | number }}</td>
              <td>
                {{meter.meterOwner.charge | uppercase}}
              </td>
              <td>
                {{meter.createdOn | date}}
              </td>
              <td align="right">
                <span ng-show="meter.canBeAllocated">
                  <md-button class="md-primary" ng-click="allocateMeterDialog($index)" ng-show="!meter.assigned">
                    Allocate
                  </md-button>
                </span>
                <md-button class="md-primary" ng-click="deallocateMeterDialog($index)" ng-show="meter.assigned">Deallocate</md-button>
                <md-button class="md-primary" ng-click="editMeterDialog($index)">Edit</md-button>
              </td>
            </tr>
            <tr>
              <td align="center" colspan="10">
                <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" pagination-id="pagePagination"></dir-pagination-controls>
              </td>
            </tr>
          </tbody>
        </table>
      </md-content>
    </md-content>
  </md-card-content>
</md-card>