<md-card>
  <md-card-content>
    <md-content>
      <md-subheader class="md-primary">Use this panel to manage M-PESA transactions</md-subheader>
      <md-content>
        <div ng-show="errorOccured" class="alert alert-danger" role="alert">
          {{errorMsg}}
        </div>
        <md-input-container flex class="md-default-theme">
          <label for="input_041">Search</label>
          <input ng-init="contactsGroupFilter = {}" ng-model="searchFilter.text" ng-change="seach()" class="ng-pristine ng-valid md-input ng-touched" tabindex="0" id="input_041" aria-invalid="false">
        </md-input-container>
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Created</th>
            <th>Account#</th>
            <th>Sender</th>
            <th>Code</th>
            <th>MSDIN</th>
            <th>Assigned</th>
            <th>
              <span class="pull-right">
                Amount
              </span>
            </th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr dir-paginate="transaction in transactions | itemsPerPage: 10" total-items="totalTransactions" pagination-id="pagePagination">
            <td>{{ transaction.createdOn | date:'medium' }}</td>
            <td>{{transaction.mpesaacc}}</td>
            <td>{{transaction.mpesa_sender}}</td>
            <td>{{transaction.mpesacode}}</td>
            <td>{{transaction.mpesa_msisdn}}</td>
            <td>{{transaction.assigned}}</td>
            <td>
              <span class="pull-right">
                {{transaction.mpesaamt | number}}
              </span>
            </td>
            <td align="right">
              <md-button ng-show="!transaction.assigned" class="md-primary" ng-click="assignTransactionDialog($index)">Allocate</md-button>

              <span ng-show="transaction.assigned">Allocated</span>
            </td>
          </tr>
          <tr>
            <td colspan="8" align="center">
              <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" pagination-id="pagePagination"></dir-pagination-controls>
            </td>
          </tr>
          </tbody>
        </table>
      </md-content>
    </md-content>
  </md-card-content>
</md-card>
