<div layout="column" layout-fill ng-controller="SidebarCtrl" flex>
   <md-toolbar  ng-show="showMainToolbar" scroll-shrink layout="row" class="sticky-nav">
      <div class="md-toolbar-tools">
         <h2 flex="70">
            <md-button ng-click="toggleMenu()" aria-label="Toggle menu">
               <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
            </md-button>
            <span>Bulk SMS</span>
         </h2>
         <h2 flex="30" class="pull-right">
               <md-button ng-href="#logout" class="pull-right" aria-label="Logout">
                  <span aria-hidden="true" class="icon-power"></span>
               </md-button>

                <md-button class="pull-right">
           {{currentUser.name}}
         </md-button>

         </h2>
      </div>
   </md-toolbar>
   <md-content layout="vertical" flex style="min-height: 200px;height:auto;">
      <!-- LEFT SIDEBAR -->

      <md-sidenav   class="md-sidenav-left sticky-navsidebar" md-component-id="left">
         <!-- <md-toolbar > -->

         <md-toolbar >
            <h1 class="md-toolbar-tools">Menu</h1>
         </md-toolbar>
         <md-content  class="md-padding" flex layout="column" layout-align="start">

           <md-content flex layout="column" ng-repeat="menu in menus">
             <h4 class="menu-header" flex>
               {{menu.category}}
             </h4>
             <!--<md-divider></md-divider>-->
             <md-button ng-click="toggleMenu()" flex ng-repeat="item in menu.items" ui-sref="{{item.state}}" class="md-primary">
               <span aria-hidden="true" class="{{item.icon}}"></span>
               {{item.title}}
             </md-button>

           </md-content>
         </md-content>
      </md-sidenav>
      <md-content id="main" layout="horizontal" flex layout-align="center" style="margin-top:80px">
         <md-content ui-view flex="90">
         </md-content>

      </md-content>

   </md-content>
</div>
