      <md-content>
         <div class="clearfix"></div>
         <div ng-show="errorOccured" class="alert alert-danger" role="alert">
            {{errorMsg}}
         </div>
         <md-input-container flex class="md-default-theme">
            <label for="input_041">Search</label>
            <input ng-init="contactsGroupFilter = {}" ng-model="messagesFilter.text" ng-change="seach()" class="ng-pristine ng-valid md-input ng-touched" tabindex="0" id="input_041" aria-invalid="false">
         </md-input-container>
         <table class="table table-hover">
            <thead>
               <tr>
                  <th>Created</th>
                  <th>Message</th>
                  <th>Recipient</th>
                  <th>Sent</th>
                  <th>Response</th>
                  <th>Date Sent</th>
                  <!-- <th>{{totalMessages | number}}</th> -->
               </tr>
            </thead>
            <tbody>
               <tr dir-paginate="message in messages | itemsPerPage: 10" total-items="totalMessages" pagination-id="pagePaginationMessages">
                  <td>{{message.createdOn | date }}</td>
                  <td>{{message.message}}</td>
                  <td>{{message.mobileNumber}}</td>
                  <td>
                    <span ng-show="message.send" style="color:green">Sent</span>
                    <span ng-show="!message.send" style="color:red">Pending</span>
                    <!-- {{message.send}} -->

                  </td>
                  <td>{{message.response}}</td>
                  <td><span ng-show="message.send">{{message.dateSend | date}}</span></td>
                  <!-- <td></td> -->
                  <!-- <td align="right">
                     <md-button ng-show="$root.sms_template_update" class="md-primary" ng-click="editTemplateDialog($index)">Edit</md-button>
                  </td> -->
               </tr>
               <tr>
                  <td colspan="6" align="center">
                     <dir-pagination-controls on-page-change="pageChangedMessages(newPageNumber)" pagination-id="pagePaginationMessages"></dir-pagination-controls>
                  </td>
               </tr>
            </tbody>
         </table>
      </md-content>
