<md-content>

  <table width="100%">
    <tr>
      <td>
          <h1 class="md-display-1">XMASS Message</h1>
      </td>
    </tr>
    <tr>
      <td>
        Thank you for your payment of KES $amount to a/c $account (txn id $receiptno). Your new water balance is KES $balance. Test.
      </td>
    </tr>
    <tr>
      <td>
        <strong>Zones</strong>
        <div>2121, 32323, 3232,53535</div>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Contacts</strong>
        <div>2121, 32323, 3232,53535</div>
      </td>
    </tr>
    <tr>
      <td align="right">
      <br/>
      </td>
    </tr>
    <tr>
      <td>
        <table width="100%">
          <tr>

            <td>All: 6,000</td>
            <td>Pending: 5,000</td>
            <td>Sent: 1,000</td>
            <td align="right">Status: Pending Approval</td>
          </tr>
        </table
        Status: Pending Approval
      </td>
    </tr>

  </table>

<br/>


  <md-divider></md-divider>

</md-content>
