<md-card>
   <md-card-content>
      <md-content>
         <md-subheader class="md-primary">Use this panel to manage connection zones</md-subheader>
         <md-content>
            <md-button ng-show="$root.zones_create" class="md-primary pull-right" ng-click="addZoneDialog();">
               <span class="icon-plus action-button" aria-hidden="true"></span>
            </md-button>
            <div class="clearfix"></div>
            <div ng-show="errorOccured" class="alert alert-danger" role="alert">
               {{errorMsg}}
            </div>
            <md-input-container flex class="md-default-theme">
               <label for="input_041">Search</label>
               <input ng-init="contactsGroupFilter = {}" ng-model="searchFilter.text" ng-change="seach()" class="ng-pristine ng-valid md-input ng-touched" tabindex="0" id="input_041" aria-invalid="false">
            </md-input-container>
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th>Name</th>
                     <th>Description</th>
                     <th>Created</th>
                     <th></th>
                  </tr>
               </thead>
               <tbody>
                  <tr dir-paginate="zone in zones | itemsPerPage: 10" total-items="totalZones" pagination-id="pagePagination">
                     <td>{{ zone.name }}</td>
                     <td>{{zone.description}}</td>
                     <td>
                        <span am-time-ago="zone.createdOn"> </span>
                     </td>
                     <td align="right">
                        <md-button ng-show="$root.zones_update" class="md-primary" ng-click="editZoneDialog($index)">Edit</md-button>
                     </td>
                  </tr>
                  <tr>
                     <td colspan="4" align="center">
                        <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" pagination-id="pagePagination"></dir-pagination-controls>
                     </td>
                  </tr>
               </tbody>
            </table>
         </md-content>
      </md-content>
   </md-card-content>
</md-card>
